<h1>Drafts</h1>
<ul>
  <% @articles.each do |article| %>
    <% unless !article.draft? %>
      <li>
        <a href="<%= article_path(article) %>/edit">
        <%= article.title %>
      </li>
    <% end %>
  <% end %>
</ul>
<a href="/articles/"> Articles</a>
</br> <a href="/">Home page</a>